.header {
	width:100%;
	height:35px;
	background-color:#fafafa;
}
.headercenter {
	width:1200px;
	height:35px;
	margin:0 auto;
	background-color:#fafafa;
	font-weight:bold;
}
.headercenterleft {
	width:251px;
	height:35px;
	float:left;
}
.headercenterleftone {
	width:103px;
	height:27px;
	padding-top:10px;
	text-align:center;
	background-color:#fff;
	border:1px solid #f0f0f0;
	border-top:1px solid #fff;
	position:relative;
	font-size:0px;
	float:left;
	position:relative;
}
.headercenterleftone .xia {
	width:7px;
	height:4px;
	background:url(../img/indexhead_sprite.png);
	background-position:-23px -870px;
	position:absolute;
	top:33px;
	left:48px;
}
.headercenterleftone  a {
	font-size:12px;
	
}
.headercenterleftone  span {
	font-size:12px;
}
.headercenterleftpicture {
	width:39px;
	height:19px;
	background:url(../img/indexhead_sprite.png);
	background-position:-260px -708px;
	margin-left:202px;
	margin-top:6px;
}
.headerleftposition {
	width:50px;
	height:2px;
	border:1px solid #f0f0f0;
	border-top:1px solid #fff;
	position:absolute;
	top:37px;
	left:26px;
}
.headercenterselect {
	padding-top:8px;
	padding-left:4px;
	width:100px;
	height:29px;
	float:left;
}
.headercenterselect span {
	font-size:12px;
}
.headercenterright {
	width:550px;
	height:24px;
	font-size:0;
	float:right;
	padding-top:12px;
}
.headercenterright a {
	color:#666666;
	font-size:12px;
	float:left;
}
.headercenterright span {
	width:1px;
	height:12px;
	margin-left:7px;
	margin-right:8px;
	background-color:#666666;
	float:left;
}
.headercenterrighttuone {
	width:11px;
	height:12px;
	margin-left: 4px;
    margin-top: 2px;
	background:url(../img/indexhead_sprite.png);
	background-position: -287px -260px;
	float:left;
}
.headercenterrightphone {
	width:10px;
	height:16px;
	margin-left: 4px;
    margin-right: 4px;
	background:url(../img/indexhead_sprite.png);
	background-position: -288px -230px;
	float:left;
}
.headercenterrighttutwo {
	width:16px;
	height:16px;
	margin-left: 4px;
   
	background:url(../img/indexhead_sprite.png);
	background-position: -284px -840px;
	float:left;
}
.headercenterrighttuthree {
	width:16px;
	height:16px;
	margin-left: 8px;
    
	background:url(../img/indexhead_sprite.png);
	background-position: -284px -930px;
	float:left;
}
.title {
	width:1200px;
	height:137px;
	margin:0 auto;
}
.titletop {
	width:1200px;
	height:90px;
}
.titlebottom {
	width:1200px;
	height:47px;
}
.titletopleft {
	width:210px;
	height:80px;
	margin-top:10px;
	float:left;
}
.titletopleft img {
	width:210px;
	height:80px;
}
.titletopcenter {
	width:530px;
	height:55px;
	padding-top:20px;
	float:left;
	margin-left:102px;
}
.titletopcentertop {
	width:530px;
	height:31px;
}
.titletopcenterkg {
	width:426px;
	height:28px;
	border:2px solid #ff3c3c;
	float:left;
}
.titletopcenterkg input {
	width:345px;
	height:26px;
	padding-left:10px;
}
.titletopcenterhg {
	width:98px;
	height:32px;
	background-color: #ff3c3c;
	float:left;
}
.titletopcenterhg a {
	display:block;
	text-align: center;
	color:#ffffff;
	margin-top:6px;
}
.titletopcenterkgleft {
	width:68px;
	height:27px;
	border-top:1px solid #FFFFFF;
	border-left:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	background-color:#f8f8f8;
	floaT:left;
	
}
.titletopcenterkgleft span {
	width:32px;
	font-size:12px;
	display:inline;
	text-align:center;
	margin-left:14px;
	margin-top:8px;
	color:#333333;
	float:left;
}
.titletopcenterkglefttu {
	width:9px;
	height:8px;
	background:url(../img/indexhead_sprite.png) no-repeat;
	background-position:0 -266px;
	float:left;
	margin-top:10px;
	margin-left:6px;
	
}
.titletopcenterkg label {
	color:#666666;
	font-size:11px;
	cursor:text;
	line-height:28px;
	margin-left:5px;
}
.titlecenterbottom {
	width:530px;
	height:24px;
	
	padding-bottom:15px;
}
.titlecenterbottom a {
	line-height:24px;
	font-size:11px;
	color:#999999;
}
.titletopright {
	width:208px;
	height:45px;
	float:right;
}
.titletoprighttu {
	width:125px;
	height:45px;
	float:left;
	margin-top:4px;
	
}
.titletoprightleft {
	width:60px;
	height:43px;
	border:1px solid #f2f2f2;
	background-color:#fcfcfc;
	position:relative;
	float:left;
}
.titletoprightlefttuone {
	width:22px;
	height:15px;
	background:url(../img/indexhead_sprite.png) no-repeat;
	background-position: -130px -20px;
	position:absolute;
	top:4px;
	left:19px;
}
.titletoprightlefttutwo {
	width:5px;
	height:3px;
	background:url(../img/indexhead_sprite.png) no-repeat;
	background-position: -130px -40px;
	position:absolute;
	top:39px;
	left:27px;
}
.titletoprightleft  a {
	color:#999999;
	font-size: 11px;
	display:block;
	margin-top:23px;
	margin-left:18px;
}
.titletoprightcenter {
	width:62px;
	height:43px;
	border-top:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
	background-color:#fcfcfc;
	position:relative;
	float:left;
}
.titletoprightcentertuone {
	width:22px;
	height:15px;
	background:url(../img/indexhead_sprite.png) no-repeat;
	background-position: -160px -20px;
	position:absolute;
	top:4px;
	left:19px;
}
.titletoprightcentertutwo {
	width:5px;
	height:3px;
	background:url(../img/indexhead_sprite.png) no-repeat;
	background-position: -130px -40px;
	position:absolute;
	top:39px;
	left:27px;
}
.titletoprightcenter  a {
	color:#999999;
	font-size: 11px;
	display:block;
	margin-top:23px;
	margin-left:6px;
}
.titletoprightright {
   width:83px;
   height:49px;
   background-color:#ff3c3c;
   float:left;
   position:relative;
   
}
.titletoprightright a {
	color:#ffffff;
	font-size: 12px;
	display:block;
	margin-top:20px;
	margin-left:30px;
}
.titletoprightrighttuone {
	width:18px;
	height:17px;
	background: url(../img/indexhead_sprite.png) no-repeat;
	background-position: -190px -20px;
	position:absolute;
	top:19px;
	left:10px;
}
.titletoprightrighttutwo {
	width:4px;
	height:4px;
	background: url(../img/indexhead_sprite.png) no-repeat;
	background-position: -150px -40px;
	position:absolute;
	top:0px;
	left:-4px;
}
.titlebottomleft {
	width:210px;
	height:39px;
	background-color:#ff3c3c;
	/*border:1px solid #fff;*/
	margin-top:13px;
	float:left;
	position:relative;
}
.titlebottomleft a {
	font-weight: bold;
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft YaHei";
	display:block;
	width:85px;
	height:24px;
	line-height:34px;
	margin-left:41px;
	
}
.titlebottomcenter {
	float:left;
	height:34px;
	width:550px;
	margin-top:13px;
	margin-left:18px;
	/*background-color: #f00;*/
}
.titlebottomcenter a {
	font-size:12px;
	font-weight:bold;
	display:block;
	float:left;
	/*margin-left:25px;*/
	margin-top:10px;
	/*background-color: #0f0;*/
	vertical-align:top;
	font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: bold;
	
}
.titlebottomcentercolorone {
	color:#ff3c3c;
	margin-left:40px;
}
.titlebottomcentercolorone1 {
	color:#ff3c3c;
}
.titlebottomcentercolortwo {
	color:#743333;
	margin-left:40px;
}
.number {
	font-family: "arial black";
	font-size:14px;
}
.titlebottomright {
	width:230px;
	height:44px;
	float:right;
	margin-top:3px;
}
.titlebottomright img {
	width:230px;
	height:44px;
}
.titlebottomlefttu {
	width:9px;
	height:6px;
	overflow:hidden;
	background: url(../img/jiantou.gif) no-repeat -5px -3px;
	position:absolute;
	top:18px;
	left:187px;
}
.bigbottom {
	height:490px;
	background-color:#fff;
}
.bigbottomtop {
	width:1200px;
	height:66px;
	padding:30px 0;
	border-bottom: 1px solid #ebebeb;
	margin:0 auto;
}

.bigbottomtop a{
	display:block;
	width:205px;
	height:100px;
	margin:0 45px;
	float:left;
	display:inline;
	zoom:1;
}
.bigbottomtop a img {
	float: left;
    display: block;
    width: 66px;
    height: 66px;
    margin-right: 15px;
    /*display: inline-block;*/
}
.bigbottomtop a strong{ 
	display: block;
	/*height:21px;*/
	width:70px;
    margin-top: 10px;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #333;
    float:left;
}
.bigbottomtop a span{ 
	display:block;
	float:left;
	width:120px;
	font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #999;
    line-height: 26px;
}
.bigbottombottom {
	width:1200px;
	height:192px;
	padding:20px 0;
	margin:0 auto;
}
.bigbottombottomleft {
	width:815px;
	height:192px;
	padding-left:40px;
	float:left;

}
.bigbottombottomleft ul {
	width:163px;
	height:192px;
	float:left;
}
.lisize {
	height: 32px;
    padding: 0 8px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
}
.li {
	height: 24px;
    padding: 0 8px;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    font-size: 12px;
}
.bigbottombottomright {
	width:345px;
	height:192px;
	float:left;
}
.rightdiv {
	float: left;
	height:192px;
	width:90px;
    margin-right: 80px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    display:inline;
}
.rightdiv img{
	width:90px;
	height:90px;
}
.lineheight {
	line-height:24px;
	padding:0;
	/*text-align: center;*/
}
.footer {
	text-align: center;
	color:rgb(102, 102, 102);
	font-size:12px;
	font-family: "微软雅黑";
	margin:15px 0;
}
.footer a {
	margin:0 10px;
	
}
.picture {
	padding: 10px 0 20px;
    text-align: center;
    font-size: 0;
}
.picture a {
	display: inline-block;
	margin-left: 8px;
}
.acolor {
	color:#666;
}
