a {
	text-decoration:none;
}
input {
	border:0;
}
ul,
li,
dl,
dt,
dd,
h3,
h4,
img,
p {
	padding:0;
	margin:0;
}
ul {
	list-style:none;
}
img {
	border:none;
	vertical-align: top;
}
em {
	font-style:normal;
}
i {
	font-style: normal;
}
body {
	margin: 0;
}
